version: 2.1

jobs:
  run-tests:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Run single test with env
          command: |
            export LT_USERNAME=$LT_USERNAME
            export LT_ACCESS_KEY=$LT_ACCESS_KEY
            npm run single

workflows:
  version: 2
  run-all:
    jobs:
      - run-tests
